{
	local_certs
}

## DOMAIN: spork.platform 
##	## HOSTNAME: reverse_proxy / {"$kind":"StaticRouteResource","hostname":"undefined","protocol":"http"}
#	## HOSTNAME: reverse_proxy /~/Spork/Magmap {"$kind":"StaticRouteResource","hostname":"undefined","protocol":"http"}
#	

